---
layout: default
title: Archive 2017
permalink: /archive2017/
image: schedule.jpg
modal: all

---

{% include top-section.html %}

{% include speakers-list-2017.html %}

<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h3>"Heading home after yet another amazing #swanseacon. Proud to be a tiny part of the 3 editions so far. Great talks and super community! :-)"</h3>
               </div>
    </div>
</section>
<!-- End Twitter Feed Section -->

{% include partners-2017.html %}

<!-- Begin Flickr Feed Section -->
<section id="flickr-feed" class="flickr-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.flickrFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
           
            <h3><a href="https://www.flickr.com/photos/136328291@N04/albums/72157661155466938" target="_blank"> View our photos on Flickr  from SwanseaCon 2017</a></h3>
            
        </div>
    </div>
</section>
<!-- End Flickr Feed Section -->

