---
layout: default
title: Call for speakers
permalink: /call-for-speakers/
image: hero.jpg
modal: all

---

{% include top-section.html %}

<section>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1" style="margin-bottom:20px;text-align:left;">
			<h3 style="color:#4683C3;">OUR CALL FOR SPEAKERS IS NOW OPEN.</h3>
			<p>Our Call for Speakers is now open. For more information and to find out what kind of sessions we're looking for, please <a href="http://swanseacon.co.uk/speaker-info">view our speaker info</a>.</p>
			<p>The Call for Speakers closes Saturday 16th February 2019.</p>
			<h4>Speaker Info</h4>
			<p>We highly recommend all submitters <a href="http://swanseacon.co.uk/speaker-info">read our Speaker Info</a>, especially if this is your first time submitting a session to one of our conferences.</p>
			<p>The Speaker Info is full of helpful information to get you started. It contains advice on the kind of sessions we look for, as well as information on our review process and speaker terms.</p>
			<p><a href="http://swanseacon.co.uk/speaker-info">View the speaker info</a></p>
 			<h4>Need Help?</h4>
			<p>If you need to get in touch with us about your session proposal, please feel welcome to do so via the following email address <a href="mailto:hello@swanseacon.co.uk">hello@swanseacon.co.uk</a>.</p>
 			<h4>Submit your session now!</h4>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfX5AMaty0G8LBkUbY65Rcsh86JoaEfWsw97eg-jseqRpe5tQ/viewform?embedded=true" width="640" height="1697" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			
		</div>
		
	</div>
</section>

