<!-- Begin Employers Section -->
<section id="employers" class="employers">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>Awesome Employers list</h3>
            <p>This year we will be doing an Awesome Employers list so please let your boss and their boss now!</p>
			<p>If your company sends 5 or more staff (or all IT if < 5) to SwanseaCon 2017, they'll find themselves publicised for investing in staff and will have their logo on the website as an awesome employer, they will also receive a small discount of 15% off tickets. For any organisation, this means a free reputation boost locally!</p>
		</div>
	</div>
</section>
<!-- End Employers Section -->
