<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
          <!-- <iframe src="https://www.picatic.com/events/widget/139718?width=std" frameborder="0" style="display:block;height:450px;max-width:none;width:100%;"></iframe> -->
		  <p>Tickets on sale soon, watch this space!</p>
		</div>
	</div>
</section>

<style>
.tickets li {
    padding: 10px;
}

.tickets ul, .tickets ol {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    list-style: none;
	padding:0px;
}
</style>


<section id="ticketsInfo" class="tickets rockstar-speakers image-section parallax" style="background-image: url(/img/sections-background/village.jpg);"> <div class="overlay solid-overlay"></div> <div class="content-wrapper"> <div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list"> <h3 id="rockstar-speaker-title">Tickets - What's Included?</h3> <div class="clearfix"></div> <span class="">

<ul>
 
 <li><i class="fa fa-users" aria-hidden="true"> Access to all sessions of the conference</i></li>
<li><i class="fa fa-wifi" aria-hidden="true"> Free Wi-Fi access throughout the hotel</i></li>	
<li><i class="fa fa-coffee" aria-hidden="true"> Unlimited Hub Conference Café *</i></li>
<li><i class="fa fa-spoon" aria-hidden="true"> Lunch</i></li>
<li><i class="fa fa-tint" aria-hidden="true"> Still and Sparkling Mineral Water</i></li>
<li><i class="fa fa-life-ring" aria-hidden="true"> Complimentary use of leisure facilities including a state-of-the-art health and fitness club, spa and large pool (via prior appointment)</i></li>
<li><i class="fa fa-car" aria-hidden="true"> Free Car Parking available for all delegates</i></li>
</ul>

<hr>

<p>* Unlimited Hub Conference Café:<br> 
Unlimited use throughout event including full range of Teas, Coffees, Herbal & Fruit Teas<br>
Fully stocked fridge with soft drinks, mineral water and orange juice<br>
Selection of Flapjacks available in morning & Cakes in the afternoon<br>
Fresh fruit available throughout the day</p>


 <!-- <a href="http://bit.ly/dfua-c4p" class="bottom-section-link btn btn-primary waves-effect waves-button waves-light waves-float" target="_blank">Become a speaker</a> --> </span> </div> </div> </section>



<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h4>{{ site.ticketTermsTitle }}</h4>
			<span class="tickets-info">{{ site.ticketsInfo }}</span>
			<span class="tickets-info">{{ site.ticketTermsInfo }}</span>
		</div>
	</div>
</section>
<!-- End Tickets Section -->
